@import "partials/_fonts";
@import "partials/_normalize";
@import "partials/_variables";

* {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  color: #000;
}

.container {
  max-width: $container-width;
  padding: 0 10px;
  margin: 0 auto;

  @media (min-width: $desktop) {
    padding: 0;
  }
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

.red-btn {
  a,
  button {
    outline: none;
    cursor: pointer;
    font-family: $b;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    line-height: 51px;
    padding: 0 32px;
    min-height: 51px;
    font-weight: 700;
    background-color: rgb(255, 0, 56);
    border-radius: 25px;
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 15px 0;

  @media (min-width: $laptop) {
    padding: 23px 25px 0;
  }

  & > div {
    display: flex;
    align-items: center;
  }

  .logo-wrapper {
    font-family: $b;
    min-width: 74px;

    .logo + a {
      text-decoration: underline;
      padding-left: 15px;
      display: none;

      @media (min-width: $mobile) {
        display: inline-block;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .title {
    font-size: 24px;
    font-family: $r;
    font-weight: 700;
  }

  .location-wrapper {
    & > div {
      min-height: 36px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 14px;

      &:not(:last-child) {
        border-right: 1px solid #000;
      }
    }
    .city {
      font-size: 12px;
    }

    .temp {
      font-size: 10px;
    }
  }
}

section.main {
  margin-top: 45px;
  background: url(../images/amid-bg.svg) calc(80% + 124px) top/265% no-repeat;

  @media (min-width: $mobile) {
    background: url(../images/amid-bg.svg) calc(80% + 124px) top/cover no-repeat;
  }

  @media (min-width: $laptop) {
    background: url(../images/amid-bg.svg) left top/cover no-repeat;
  }

  .main-content {
    padding: 75px 0 90px 0;

    @media (min-width: $desktop) {
      padding: 85px 0 60px 0;
    }
  }

  h1 {
    font-family: $r;
    font-size: 36px;
    font-weight: 700;
    color: #1b232a;
    padding-bottom: 30px;
    max-width: 240px;

    @media (min-width: $mobile) {
      font-size: 48px;
      max-width: 50%;
    }

    @media (min-width: $laptop) {
      font-size: 56px;
      max-width: 560px;
    }
  }

  .chat {
    padding-top: 25px;
    font-family: $b;
    font-size: 16px;
    max-width: 200px;

    @media (min-width: $mobile) {
      max-width: 100%;
    }

    .whatsapp {
      padding: 5px 0 10px 0;
      display: flex;
      align-items: center;

      @media (min-width: $mobile) {
        padding: 5px 0 15px 0;
      }

      span {
        padding-left: 5px;
      }
    }

    .time {
      font-size: 12px;
    }
  }
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .adv {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    max-width: 281px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #000;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: #ff0038;
      color: #fff;
    }

    @media (min-width: $laptop) {
      width: 281px;
      padding: 0 46px;
      height: 242px;
    }

    span {
      text-transform: uppercase;
      font-family: $r;
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 20px;
    }

    p {
      font-family: $b;
      font-size: 16px;

      @media (min-width: $laptop) {
        max-width: 160px;
      }
    }
  }
}

section.grow {
  padding: 40px 20px;
  background: #1b232a;
  color: #fff;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  * {
    max-width: 670px;
    margin: 0 auto;
  }

  h2 {
    font-family: $r;
    font-weight: 700;
    font-size: 36px;

    @media (min-width: $tablet) {
      font-size: 42px;
    }
  }

  p {
    font-family: $b;
    font-size: 18px;
    padding: 20px 0;
    line-height: 24px;
    padding: 20px 0 35px 0;

    text-align: justify;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 28px;
      padding: 30px 0 50px 0;
      margin: 0 auto;
    }
  }
}

footer {
  padding: 220px 0 50px 0;
  text-align: center;
  background: #d1d4d3;

  @media (min-width: $tablet) {
    text-align: left;
  }

  .copyright {
    font-family: $b;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #1b232a;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet) {
      justify-content: flex-start;
    }

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    a {
      color: #36424a;
      font-size: 12px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.top-btn {
  display: flex;
  justify-content: center;
  min-height: 55px;
  font-size: 14px;
  color: #1b232a;

  span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    i {
      font-style: normal;
      display: block;
      transform: rotate(-90deg);
    }
  }
}

section.form {
  padding: 115px 0 150px 0;
  max-width: 405px;
  margin: 0 auto;

  .row {
    &:not(:last-child) {
      margin-bottom: 17px;
    }

    &:first-child {
      display: flex;
      justify-content: space-between;

      input {
        &:first-child {
          margin-right: 17px;
        }
      }
    }
  }

  input:not([type="checkbox"]),
  textarea {
    display: block;
    width: 100%;
    transition: 0.3s;
    border-width: 1px;
    border-color: rgb(196, 199, 200);
    border-style: solid;
    border-radius: 10px;
    height: 42px;
    line-height: 43px;
    color: #1b232a;
    padding: 0 15px;

    &::-webkit-input-placeholder {
      color: #828a8f;
    }

    &:focus {
      border-color: rgb(27, 35, 42);
    }
  }

  textarea {
    min-height: 182px;
    resize: none;
    outline: none;
  }

  .disclaimer {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    color: #1b232a;
    padding: 3px 0 10px;
  }

  .agreement {
    display: flex;
    cursor: pointer;

    align-items: center;
    justify-content: center;

    input {
      opacity: 0;

      &:checked {
        & + label {
          &:after {
            opacity: 1;
          }
        }
      }
    }

    label {
      position: relative;
      padding-left: 7px;

      &:before {
        display: block;
        width: 16px;
        content: "";
        height: 16px;
        position: absolute;
        border-radius: 50%;
        top: 2px;
        left: -20px;
        border: 1px solid #000;
      }

      &:after {
        display: block;
        content: "√";
        position: absolute;
        top: -1px;
        font-size: 16px;
        opacity: 0;
        left: -16px;
        font-size: 16px;
      }
    }
  }

  .red-btn {
    text-align: center;
    margin-top: 40px;
  }
}

section.privacy {
  color: #1b232a;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  padding: 60px 0 135px 0;
  max-width: 670px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    font-size: 20px;
    padding: 105px 0 135px 0;
    line-height: 28px;
  }
}
